<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <title>Sophie & Tom's Wedding - 26 September 2020</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body>
  <header class="container mx-auto md:flex md:flex-row-reverse">
    <div class="w-full md:w-1/2 lg:w-1/3">
      <div class="h-full md:bg-top"
        style="width: 100%; min-height: 190px; max-height: 200px; background-size: 100%; background-repeat: no-repeat; background-image: url(<%= Routes.static_path(@conn, "/images/header-photo.jpg") %>)">
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-2/3 px-4 pb-4 md:py-4">
      <h1 class="flex items-center text-3xl font-bold text-gray-800 md:text-4xl my-0">Sophie <span
          class="text-orange-400 text-6xl amp mx-3 my-0 leading-none">&amp;</span>
        Tom</h1>

      <div class="flex text-orange-400 ">
        <svg class="fill-current w-5 h-5 items-center mr-2 md:mt-1" viewBox="0 0 20 20">
          <path
            d="M1 4c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm2 2v12h14V6H3zm2-6h2v2H5V0zm8 0h2v2h-2V0zM5 9h2v2H5V9zm0 4h2v2H5v-2zm4-4h2v2H9V9zm0 4h2v2H9v-2zm4-4h2v2h-2V9zm0 4h2v2h-2v-2z" />
        </svg>
        <h3 class="block uppercase tracking-wide text-gray-700 text-l md:text-xl font-bold mb-2">
          26th September 2020
        </h3>
      </div>

      <p class="mt-2 text-sm text-gray-700 md:text-base pr-2">We're getting married! If the pandemic allows, that is.
        We'd love it if you could join us!</p>
    </div>
  </header>

  <div class="bg-gray-200">
    <div class="container mx-auto pb-8 pt-4">
      <div class="flex items-center text-2xl font-semibold text-gray-800 px-3 mb-3">
        <svg class="text-orange-400 fill-current w-6 h-6 items-center mr-2 " viewBox="0 0 20 20">
          <path d="M0 0l6 4 8-4 6 4v16l-6-4-8 4-6-4V0zm7 6v11l6-3V3L7 6z" />
        </svg>
        <h2 class="">Where to be</h2>
      </div>

      <div class="grid gap-4 sm:grid-cols-1 lg:grid-cols-2">
        <div>
          <div class="relative rounded-lg block md:flex bg-gray-100 shadow-xl" style="min-height: 19rem;">
            <div class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg"
              style="min-height: 19rem;">
              <img class="absolute inset-0 w-full h-full object-cover object-center"
                src="<%= Routes.static_path(@conn, "/images/farm.jpg") %>" alt="">
              <div class="absolute inset-0 w-full h-full opacity-75"></div>
            </div>
            <div class="w-full md:w-3/5 h-full flex items-center bg-gray-100 rounded-lg">
              <div class="p-12 md:pl-20 md:py-8">
                <div class="flex items-center text-gray-400 -ml-6 mb-4">
                  <svg class="fill-current w-5 h-5 mr-1" viewBox="0 0 20 20">
                    <path
                      d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z" />
                  </svg>
                  <span class="text-gray-900 font-bold">Main Ceremony</span>
                </div>
                <div class="font-semibold text-gray-400 mb-4 -ml-6 flex items-center">
                  <svg class="fill-current w-5 h-5 mr-1" viewBox="0 0 20 20">
                    <path
                      d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-7.59V4h2v5.59l3.95 3.95-1.41 1.41L9 10.41z" />
                  </svg>
                  <time class="text-orange-500" datetime="2020-09-26T15:00">26th September, 15:00</time>
                </div>
                <div class="text-gray-600">
                  <div class="flex items-center text-gray-400">
                    <svg class="fill-current w-5 h-5 mr-1 -ml-6" viewBox="0 0 20 20">
                      <path d="M10 20S3 10.87 3 7a7 7 0 1 1 14 0c0 3.87-7 13-7 13zm0-11a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                    </svg>

                    <span class="block text-gray-600">Oaks Farm Weddings</span>
                  </div>
                  Oaks Lane<br>Croydon<br>CR0 5HL
                </div>
                <a class="text-indigo-600 hover:text-orange-600 border-b-2 border-indigo-200 hover:border-orange-400 focus:text-orange-400 b-s-dotted"
                  href="https://goo.gl/maps/1rbiu5863LCAstzt6" target="_blank">
                  <span>Google Maps</span>
                </a>

                <div class="flex items-center text-gray-400 -ml-6 mt-2">
                  <svg class="fill-current w-5 h-5 mr-1" viewBox="0 0 20 20">
                    <path
                      d="M2 14v-3H1a1 1 0 0 1-1-1 1 1 0 0 1 1-1h1l4-7h8l4 7h1a1 1 0 0 1 1 1 1 1 0 0 1-1 1h-1v6a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-1H5v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-3zm13.86-5L13 4H7L4.14 9h11.72zM5.5 14a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm9 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                  </svg>
                  <span class="text-gray-600">Parking at the venue</span>
                </div>
              </div>
              <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12"
                viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
              </svg>
            </div>
          </div>
        </div>
        <div>
          <div class="relative rounded-lg block md:flex bg-gray-100 shadow-xl" style="min-height: 19rem;">
            <div class="relative w-full md:w-2/5 h-full overflow-hidden rounded-t-lg md:rounded-t-none md:rounded-l-lg"
              style="min-height: 19rem;">
              <img class="absolute inset-0 w-full h-full object-cover object-center"
                src="<%= Routes.static_path(@conn, "/images/room.jpg") %>" alt="">
              <div class="absolute inset-0 w-full h-full opacity-75"></div>
            </div>
            <div class="w-full md:w-3/5 h-full flex items-center bg-gray-100 rounded-lg">
              <div class="p-12 md:pl-20 md:py-8">
                <div class="flex items-center text-gray-400 -ml-6 mb-3">
                  <svg class="fill-current w-5 h-5 mr-1" viewBox="0 0 20 20">
                    <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z"/>
                  </svg>
                  <span class="text-gray-900 font-bold">Arriving early?</span>
                </div>
                <div class="flex items-center text-gray-400 mb-4">
                  <span class="text-gray-600">Tom will be at location around noon. Please arrive around 2pm.</span>
                </div>
                <div class="flex items-center text-gray-400 -ml-6 mb-3">
                  <svg class="fill-current w-5 h-5 mr-1" viewBox="0 0 20 20">
                    <path d="M2 12h18v6h-2v-2H2v2H0V2h2v10zm8-6h8a2 2 0 0 1 2 2v3H10V6zm-4 5a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg>
                  <span class="text-gray-900 font-bold">Staying the night?</span>
                </div>
                <div class="text-gray-600">
                  <div class="flex items-center text-gray-400">
                    <svg class="fill-current w-5 h-5 mr-1 -ml-6" viewBox="0 0 20 20">
                      <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
                    </svg>

                    <a class="text-indigo-600 hover:text-orange-600 border-b-2 border-indigo-200 hover:border-orange-400 focus:text-orange-400 b-s-dotted"
                      href="https://goo.gl/maps/UKVsbTrkaFUdYcJs6" target="_blank">
                      <span>Premier Inn</span>
                    </a>
                  </div>
                  <div class="flex items-center text-gray-400">
                    <svg class="fill-current w-5 h-5 mr-1 -ml-6" viewBox="0 0 20 20">
                      <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
                    </svg>

                    <a class="text-indigo-600 hover:text-orange-600 border-b-2 border-indigo-200 hover:border-orange-400 focus:text-orange-400 b-s-dotted"
                      href="https://goo.gl/maps/5Hshwn1JscC9FN2q8" target="_blank">
                      <span>Croham Park B&amp;B</span>
                    </a>
                  </div>
                  <div class="flex items-center text-gray-400">
                    <svg class="fill-current w-5 h-5 mr-1 -ml-6" viewBox="0 0 20 20">
                      <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
                    </svg>

                    <a class="text-indigo-600 hover:text-orange-600 border-b-2 border-indigo-200 hover:border-orange-400 focus:text-orange-400 b-s-dotted"
                      href="https://g.page/HamptonLondonCroydon?share" target="_blank">
                      <span>Hilton London Croydon</span>
                    </a>
                  </div>
                </div>


              </div>
              <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12"
                viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= @inner_content %>

</body>

</html>
